# Python cached files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Local Data Cache (Sensitive medical files won't be pushed)
data/heart.csv
data/
*.csv
*.json

# Operating System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/ 